#container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;  
}
.flex{
  display: flex;
  justify-content: space-between;
}
#grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:5px;
    width: 100%;
    
}

.acc-text{
    font-size: 29px;
    font-weight: 800;
}